<div class="index-nav">
  <div class="main-wrap">
    <ul>
      <li><a href="./about.html" @@if (context.about==='active' ) { class="active" }>关于宝乐</a></li>
      <li><a href="./about_culture.html" @@if (context.culture==='active' ) { class="active" }>企业文化</a></li>
      <li><a href="./about_news.html" @@if (context.news==='active' ) { class="active" }>新闻动态</a></li>
      <li><a href="./about_honor.html" @@if (context.honor==='active' ) { class="active" }>企业荣誉</a></li>
    </ul>
  </div>
</div>