<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/contact.css">
<div class="main contact-container">
    <div class="section banner">
        <div class="main-wrap">
            <p class="title bl-color-white">让你的成就超出预期</p>
            <p class="red-line"></p>
            <p class="text" style="color: #dcdcdc;">在这里，你将和来自世界各地、满怀激情的同事们一起，创造极富创意的产品和体验。加入我们，让你的职业生涯成就非凡，让人们的生活变得更加美好</p>
        </div>
    </div>
    <div class="section">
        <div class="main-wrap">
            <p class="title">把握机会</p>
            <p class="red-line"></p>
            <p class="text">广东宝乐创建于2004年，总部位于广州市，占地面积约50000平方米，是一家集研发、生产、销售于一体的国家高新技术企业。</p>
            <div class="recruit bl-clearfix">
                <a href="./contact_recruit?type=social" class="recruit-item social">
                    <p class="msg">SOCIAL</p>
                    <p class="msg">RECRUITMENT</p>
                    <h4>社会招聘</h4>
                    <span class="btn">进入查看</span>
                </a>
                <a href="./contact_recruit?type=school" class="recruit-item school">
                    <p class="msg">CAMPUS</p>
                    <p class="msg">RECRUITMENT</p>
                    <h4>校园招聘</h4>
                    <span class="btn">进入查看</span>
                </a>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
