<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/contact.css">
<div class="main">
    <div class="experience-container">
        <div class="product">
            <div class="main-wrap">
                <div class="product-text bl-fl">
                    <div class="text-en">NEW</div>
                    <div class="text-en">PRODCUT</div>
                    <div class="text-title">全球体验官权益</div>
                    <div class="text-msg">您将会抢先获得宝乐官方赠送的1-2款未曝光新品</div>
                    <div class="text-msg bl-color-red">（价值2000—8000元）</div>
                </div>
            </div>
        </div>
        <div class="become">
            <div class="main-wrap">
                <p class="title">如何成为全球体验官</p>
                <div class="stage">
                    <p>申请表报名</p>
                    <p>名单筛选</p>
                    <p>邮件告知通过者</p>
                    <p>产品寄送并试用</p>
                    <p>反馈报告并协助改进</p>
                    <p>不定期系统性体验测试</p>
                </div>
                <div class="tips">
                    <div>
                        <h4 class="tips-title">规则说明</h4>
                        <p>1、免费申请，试用过程中无需支付任何费用</p>
                        <p>2、审核通过者将在提交申请后的3天内收到我们的邮件通知</p>
                        <p>3、到货后您须如实提交真实的试用报告（报告要求从外观，功能体验，建议等进行专业全面的阐述），无需返还样品</p>
                        <p>4、未按时提交报告，或报告不符合要求，将导致您被限制申请</p>
                    </div>
                    <div>
                        <h4 class="tips-title">申请条件</h4>
                        <p>1、能使用英文或者中文进行沟通</p>
                        <p>2、对扫地机器人产品有自己的见解</p>
                        <p>3、配合技术团队记录或重现问题，排查原因</p>
                        <p>4、喜欢在自媒体平台发声，最好是相关领域的意见领袖</p>
                    </div>
                    <span>说明：我们每年将对体验官进行考核评定，达到要求的人可延续体验官资格，并获得次年的新品免费寄送。</span>
                </div>
            </div>
        </div>
        <div class="apply">
            <div class="apply-wrap">
                <p class="title">立即申请成为体验官</p>
                <p class="text">快人一步体验最新扫地机黑科技，与产品经理</p>
                <p class="text">一对一深度交流</p>
                <img src="<%- serve.staticPath %>/img/contact-banner11.png">
                <p class="scan-text">扫描上方二维码申请</p>
                <div class="tips">
                    <p>针对每份申请资料，我们承诺将在三天内完成审核，</p>
                    <p>成功通过的用户将会收到邮件通知。</p>
                    <p>如有任何疑问，欢迎来电咨询020-39921175，</p>
                    <p>我们期待您的申请。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
