<nav class="menu-nav">
  <ul class="nav-wrap">
    <li class="menu-nav-item foot-hide">
      <div class="menu-nav-wrap">
        <a href="/index" class="menu-nav-name">首页</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">关于宝乐</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/about">关于宝乐</a>
        <a class="menu-sub-item" href="/about/culture">企业文化</a>
        <a class="menu-sub-item" href="/about/news">新闻动态</a>
        <a class="menu-sub-item" href="/about/honor">企业荣誉</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">技术研发</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/skill_research">技术研发</a>
        <a class="menu-sub-item" href="/skill_quality">质量管理与测试</a>
        <a class="menu-sub-item" href="/skill_place">生产基地</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">产品布局</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/product?id=8">8系列</a>
        <a class="menu-sub-item" href="/product?id=7">7系列</a>
        <a class="menu-sub-item" href="/product?id=6">6系列</a>
        <a class="menu-sub-item" href="/product?id=5">5系列</a>
        <a class="menu-sub-item" href="/product?id=1">1系列</a>
        <a class="menu-sub-item" href="/product?id=k">k系列</a>
        <a class="menu-sub-item" href="/product?id=c">擦窗机系列</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">联系我们</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/contact_join">加入宝乐</a>
        <a class="menu-sub-item" href="/contact_business">商务合作</a>
        <a class="menu-sub-item" href="/contact_experience">成为全球体验官</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">国内品牌</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" target="_blank" href="https://luofuer.tmall.com/shop/view_shop.htm?spm=a1z10.3-b.w5001-16194164600.8.49b87065nSfYaH&mytmenu=mdianpu&utkn=g%2Cylplrjnw7pdozpncwxva1508326519578&user_number_id=2134350625&scm=1028.1.1.20001&scene=taobao_shop">罗弗尔</a>
        <a class="menu-sub-item" target="_blank" href="http://www.coayu.com/">科语</a>
      </div>
    </li>
    <li class="menu-nav-item foot-hide">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">CN</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/en/index">EN</a>
      </div>
    </li>
  </ul>
</nav>

