<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/skill.css">
<div id="banner" class="banner-skill-place">
    <div class="main-wrap title-box">
        <i class="icon"></i>
        宝乐生产基地
    </div>
</div>
<div class="main">
    <div class="place-container main-wrap">
        <div class="section">
            <div>
                <p class="text-title">深圳基地</p>
                <p class="text-msg">面积 20,000㎡</p>
                <p class="text-msg">产能 1,000,000台</p>
                <p class="text-msg">广东省深圳市宝安区沙井街道东环路438号工业园</p>
            </div>
            <div>
                <img src="<%- serve.staticPath %>/img/skill-place-2.png">
            </div>
        </div>
        <div class="section">
            <div>
                <p class="text-title">广州南沙生产基地</p>
                <p class="text-msg">面积 30,000㎡</p>
                <p class="text-msg">年产 2,000,000台</p>
                <p class="text-msg">广东省广州市南沙区大岗镇豪岗大道30号</p>
            </div>
            <div>
                <img src="<%- serve.staticPath %>/img/skill-place-3.png">
            </div>
        </div>
        <div class="section">
            <div>
                <p class="text-title">广州宝乐工业园（预计2022年投入使用）</p>
                <p class="text-msg">面积 200,000㎡</p>
                <p class="text-msg">产能 7,000,000台</p>
            </div>
            <div>
                <img src="<%- serve.staticPath %>/img/skill-place-4.png">
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>