<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/contact_en.css">
<div class="main contact-container">
    <div class="section banner">
        <div class="main-wrap">
            <p class="title bl-color-white">Let your achievements exceed expectations</p>
            <p class="red-line"></p>
            <p class="text" style="color: #dcdcdc;">Here, you will experience life with passionate colleagues from all over the place. Join us to make your career extraordinary and make your life get better.</p>
        </div>
    </div>
    <div class="section">
        <div class="main-wrap">
            <p class="title">Seize the right time</p>
            <p class="red-line"></p>
            <p class="text">Founded in 2004, headquatered in Guangzhou, China, & based on an area of 50,000㎡, Guangdong Bona Robot Corporation Limited is a national high-tech enterprise with integrited R&D, manufacture & sales.</p>
            <div class="recruit bl-clearfix">
                <a href="./contact_recruit?type=social" class="recruit-item social">
                    <p class="msg">SOCIAL</p>
                    <p class="msg bl-mb30">RECRUITMENT</p>
                    <span class="btn">TO View</span>
                </a>
                <a href="./contact_recruit?type=school" class="recruit-item school">
                    <p class="msg">CAMPUS</p>
                    <p class="msg bl-mb30">RECRUITMENT</p>
                    <span class="btn">TO View</span>
                </a>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
