<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/contact_en.css">
<div class="main">
    <div class="experience-container">
        <div class="product">
            <div class="main-wrap">
                <div class="product-text bl-fl">
                    <div class="text-en">NEW</div>
                    <div class="text-en">PRODCUT</div>
                    <div class="text-title">Global Field-Test</div>
                    <div class="text-msg">You will be one of the first group to get 1-2pcs</div>
                    <div class="text-msg bl-color-red">$300-$1000</div>
                </div>
            </div>
        </div>
        <div class="become">
            <div class="main-wrap">
                <p class="title bl-mb10">How To Become One Of The </p>
                <p class="title">Global Field-Test Users</p>
                <div class="stage">
                    <p>A. Firstly please sigh up an Application Form. </p>
                    <p>B. If selected after screening process, you will receive an Email Notification.</p>
                    <p>C. Then Product will be delivered to you after that.</p>
                    <p>D. Upon the reception of product, please try it and provide feedback for our improvement plan.</p>
                    <p>E. And we will need your help on running some systematic testing from time to time.</p>
                </div>
                <div class="tips">
                    <div>
                        <h4 class="tips-title">Regulations</h4>
                        <p>1. Free application, no need to pay any fees during this process.</p>
                        <p>2. The selected field-test users will receive our email notification within 3 days after submitting the application.</p>
                        <p>3. After receiving the product, please submit the test report with your true experience, and offer comprehensive description of the
                            product from the appearance, functions, feasibility or other comments. And you can keep the sample after testing.</p>
                        <p>4. If failed to submit a report on time, or the report is not accomplished according to our instruction, your next application will
                            be refused.</p>
                    </div>
                    <div>
                        <h4 class="tips-title">Application Conditions</h4>
                        <p>1. Can communicate in English or Chinese.</p>
                        <p>2. Have your own insights on robot vacuum cleaner.</p>
                        <p>3. Can cooperate with our technical team for a record or reappearing the mentioned problem if there is any, so that we can analyze
                            the root cause.</p>
                        <p>4. Used to comment on the media platform. It would be best if you are the opinion leader in this field.</p>
                    </div>
                    <span>Note: We will review reports from field-test users every year,
                and will invite those who offer sufficient feedback to be our field-test users for next project. And they will continue to receive new
                products from us free of charge.</span>
                </div>
            </div>
        </div>
        <div class="apply">
            <div class="apply-wrap">
                <p class="title">Become Our Field-Test Users Now</p>
                <p class="text">Be the first to experience the latest RVC advanced technology</p>
                <img src="<%- serve.staticPath %>/img/contact-banner11-en.png">
                <p class="scan-text">Scan the QR code for more information</p>
                <div class="tips">
                    <p>For each application,</p>
                    <p>we will complete the review within three days, </p>
                    <p>and selected Field-Test Users will be notified by email.</p>
                    <p>If you have any enquiries,</p>
                    <p>please call us 0086 020-39921175</p>
                    <p>Look forward to your application.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
