<nav class="menu-nav">
  <ul class="nav-wrap">
    <li class="menu-nav-item foot-hide">
      <div class="menu-nav-wrap">
        <a href="/en/index" class="menu-nav-name">Home</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">About Us</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/en/about">About Bona</a>
        <a class="menu-sub-item" href="/en/about/culture">Company Culture</a>
        <a class="menu-sub-item" href="/en/about/news">News Center</a>
        <a class="menu-sub-item" href="/en/about/honor">Honor</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">Technology</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/en/skill_research">R&D</a>
        <a class="menu-sub-item" href="/en/skill_quality">Quality</a>
        <a class="menu-sub-item" href="/en/skill_place">Production</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">Products</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/en/product?id=8">8 Series</a>
        <a class="menu-sub-item" href="/en/product?id=7">7 Series</a>
        <a class="menu-sub-item" href="/en/product?id=6">6 Series</a>
        <a class="menu-sub-item" href="/en/product?id=5">5 Series</a>
        <a class="menu-sub-item" href="/en/product?id=1">1 Series</a>
        <a class="menu-sub-item" href="/en/product?id=k">k Series</a>
        <a class="menu-sub-item" href="/en/product?id=c">Window Cleaning Robot</a>
      </div>
    </li>
    <li class="menu-nav-item">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">Contact Us</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/en/contact_join">Join Bona</a>
        <a class="menu-sub-item" href="/en/contact_business">Business Cooperation</a>
        <a class="menu-sub-item" href="/en/contact_experience">Global Field Test Users</a>
      </div>
    </li>
    <li class="menu-nav-item foot-hide">
      <div class="menu-nav-wrap">
        <span class="menu-nav-name">EN</span>
        <span class="menu-nav-icon"></span>
      </div>
      <div class="menu-sub-wrap">
        <a class="menu-sub-item" href="/index">CN</a>
      </div>
    </li>
  </ul>
</nav>

