<% include ./header.ejs %>
<style>
  .privacy-page{
    background-color: #f7f7f7;
    padding: 48px 15px;

  }
  h1{
    text-align: center;
    margin-bottom: 25px;
  }
  h5{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  p{
    color: #999;
    font-size: 14px;
    line-height: 19px;
    word-break:normal;
  }
  .text-wrap{
    border-bottom: 1px solid #D8D8D8;
    padding: 30px 0;
  }
  .copyright p{
    font-size: 9px;
    color: #676767;
  }
</style>
<div class="privacy-page">
  <h1>BONA Official Website Privacy Policy</h1>
  <h3 class="bl-mb20 bl-fontsize18">Legal Notices</h3>
  <h5 class="bl-mb10 bl-fontsize16 bl-mt0">Tips:</h5>
  <p>
    Note: Please read this statement carefully before using the services on this website. If you have any questions about the content of this
    statement, you can consult the customer service. If you do not agree with this statement or any part of it, you can stop using the platform
    services immediately. If you use the platform services, it means acceptance of the full content of this statement.</p>
  <div class="text-wrap">
    <h5 class="bl-mb10 bl-mt0">Definition:</h5>
    <p>Platform: includes, but not limited to, the client software.</p>
    <p>Bona official website platform: the single or collective name of the platform operator, including but not limited to the group's
      subsidiaries, branches and affiliates.</p>
  </div>
  <div class="text-wrap">
    <h3 class="bl-mb10">Statement of rights:</h3>
    <p>I. Rights Ownership: Unless otherwise stated, all rights (including but not limited to intellectual property rights such as copyrights,
      trademarks, patents, business secrets, and all other related rights) of all products, software, programs, technologies, data and other
      information in the Platform (including but not limited to text, images, photographs, pictures, videos, audio, graphics, layouts, electronic
      documents) are owned by Bona or its affiliates. Except with permission in writing, no one may use them arbitrarily (including but not limited
      to copying, distributing, displaying, monitoring, mirroring, uploading, downloading any content on the Platform with any program such as
      robots or crawlers or any device).
    </p>
    <p class="bl-mb20">
      The texts, graphics and combinations of both including logo, brand, etc., as well as other icons, product names and service names of the
      platform are trademarks of Bona or its affiliates in China and other countries. Except with written authorization, no one may in any way
      display, use or do other processing, or indicate to others that you have the right to display, use or do other processing.</p>
    <p class="bl-mb20">II. Protection of and respect for intellectual property rights, and opposition to infringement and piracy. Any holder of
      intellectual property rights who believes that the platform content (including but not limited to product information published by platform
      members) may be suspected of infringing on his or her legal rights and interests may fill a written notice through the customer service, which
      will be dealt with in a timely manner upon receipt.</p>
    <p>III. Limitation of Liability. The platform assumes responsibility for the content uploaded by Bona itself on the legal basis; the platform
      does not assume any responsibility for the opinions and product information published by users themselves.
    </p>
    <p>Some services of the platform are electronic bulletin board (BBS) in nature, in which the information (including but not limited to company
      name, contact person and contact information, description and specification of the products, related pictures, videos, etc.) are provided and
      uploaded by the members themselves. Members are responsible for all information provided and uploaded by themselves.</p>
    <p>Reprinting works (including forum content) on users’ platform serves the purpose of transmitting more information, which does not imply
      endorsement of their views or confirmation of their content.</p>
  </div>
  <h3 class="bl-mt30 bl-mb10">Privacy Policy:</h3>
  <p>Bona (hereinafter referred to as “we”) is very respectful of the protection of the users’ personal information. We will collect, use and share
    your personal information in accordance with this Privacy Policy when you use the services provided by the platform. This Privacy Policy covers
    the terms of our collection, storage, use, sharing, and protection of your personal information. We suggest you to read this Privacy Policy in
    its entirety to help you understand the ways of protecting your privacy. If you have any questions about this Privacy Policy, you can contact us
    via the contact information published on the platform. If you do not agree to any of this Privacy Policy, you should stop using the Platform
    Services immediately. By continuing to use any of the services of the Platform, you consent to the legal collection, use, storage and sharing of
    your information in accordance with this Privacy Policy.</p>
  <h5 >I. The scope of application</h5>
  <p>This Privacy Policy applies to all services provided by the Platform, and to your access to the Platform's website and/or to the services
    provided by the relevant Client software after login.</p>
  <p>In particular, this Privacy Policy does not apply to services provided by any third party. For example, when sellers on XXX provides services
    to you on the platform’s basis, the personal information you provide to the sellers does not apply to this Privacy Policy.</p>
  <h5>II. How do we collect information?</h5>
  <p>We collect information to provide you with quality, personalized service. The ways we collect information are as follows:</p>
  <p class="bl-color-_333 bl-font-bold">1. The information you provide to us. Information that you fill out or submit when you register your account
    and use the services you provided by the platform, including your name, gender, date of birth, ID number, avatar, identity, phone number, email
    address, address, Zip code, bank account number and related additional information.</p>
  <p class="bl-color-_333 bl-font-bold bl-mt24">2. Information collected during your use of the service. In order to provide and optimize the
    services you need, we collect information about your use of the services, including:</p>
  <p>
    Information on your browser and computer that is automatically received and recorded by the system when you use the platform services or access
    the platform webpages, including but not limited to your IP address, browser information, access date and time, language, hardware and software
    feature information, and history of your webpage view; if you access a mobile webpage to use a platform service, download or use client software
    of Bona or its affiliate company, information related to your location and mobile device may be read, including but not limited to device model,
    operating system, device identification code, resolution, telecom operator, etc. In addition to the above information, we may also collect your
    other information in order to provide services and improve the quality of service, and personalize the services, etc., including the related
    information you provide when you contact our customer service team, and answer information you provide to us when you participate in our
    questionnaire and survey, as well as the related information we collect when you interact with our affiliates and partners. At the same time, in
    order to improve the security of your use of platform services, prevent phishing scams and Trojan viruses, we may judge the risk of your account
    by understanding or recording some of your network use habits and your commonly used software information, and may record some URLs that we
    think are at risk.</p>
  <p class="bl-color-_333 bl-font-bold bl-mt24">3. Information from third parties</p>
  <p>In order to provide you with better, finer, more personalized services, or to jointly provide services to you, or for the purpose of preventing
    Internet fraud, related parties and partners of Bona will Share your personal information with Bona in accordance with laws or with your
    agreement or your consent. You understand and agree that the following information does not apply to this Privacy Policy:</p>
  <p>a) data about your trading on the platform, including but not limited to bids, transaction information and evaluations;</p>
  <p>b) keyword information that you enter when using the search service provided by the platform;</p>
  <p>c) credit evaluation, violation of legal provisions or violations of rules and measures taken against you;</p>
  <p>d) Relevant business registration information such as the name of the company to be publicized as required by laws and regulations, and
    information of the natural person operator.</p>
  <h5>III. How do we use information</h5>
  <p>The purpose of collecting your information is to provide you with quality, personalized service. For this purpose, we will use your information
    for the following purposes:</p>
  <p>1. Provide you with the services you use and maintain and improve them.</p>
  <p>2. Recommend content that may be of interest to you, including but not limited to, through the system, showing you personalized promotional
    information, sending you product and service information, or sharing, with your consent, information with Bona’s partners so that they can send
    you information about their products and services. If you do not wish to receive the above information, you can unsubscribe with corresponding
    unsubscribe function.</p>
  <p>3. We may collect your personal information in the purpose of prevent, detect, and investigate the illegal activities such as fraud, endanger
    security, and violation on our agreements, policies or rules with us or its affiliates, in order to protect the legitimate rights and interests
    of you and other users. </p>
  <p>4. We may combine personal information from a service with information from other services in order to provide you with a more personalized
    service use, such as using, sharing and disclosing for entitling you to needs of a wider social circle. </p>
  <p>5. Other uses as permitted by you.</p>
  <h5>IV. How do we share information?</h5>
  <p>We are obligated to keep your information confidential and will not sell or rent any of your information to third parties for their marketing
    purposes. We only share your information with third parties in the following circumstances:</p>
  <p>1. with your consent or authorization in advance.</p>
  <p>2. according to the provisions of laws and regulations or the requirements of the administrative or judicial authorities.</p>
  <p>3. when sharing your personal information with related parties.</p>
  <p>4. when providing your personal information only to trusted partners, who will process this information for us following our instructions and
    in accordance with our Privacy Policy and any other corresponding confidentiality and security measures.</p>
  <p>5. If you violate the relevant laws, regulations or related agreements or relevant rules of China, and we need to disclose it to a third party.
  </p>
  <p>6. if it’s for protection the legitimate rights and interests of Bona and its affiliates or the users.</p>
  <h5>V. Use of cookies and networks Beacon</h5>
  <p>To give you an easier access experience, we may use cookies, Flash cookies, or other local storage provided by your browser or associated
    applications when you visit platform-related websites or use the services provided by the platform (collectively referred as "Cookies" ") to
    provide you with a personalized user experience and service.</p>
  <p class="bl-mt24 bl-mb24">Please understand that some of our services can only be implemented by using "cookies". You may modify the acceptance
    level of cookies or reject cookies if it’s available on your browser or browser extensions, but this action may affect your secure access to the
    platform-related websites and the services provided by the platform.</p>
  <p>Web pages often contain electronic images (called "single-pixel" GIF files or "web beacons"). Using web beacons can help the websites calculate
    users browsing the web or access certain cookies. We collect through web beacons information about your webpage browsing actions, such as the
    page address you visit, the address of the reference page you visited earlier, the time you stayed on the page, your browsing environment, and
    display settings.</p>
  <h5>VI. Information Storage</h5>
  <p>The information and materials collected about you will be stored on servers of Bona and/or its affiliates, which may be transmitted to your
    country, region, or the location of the collected information and materials and, on the location, for access, store and display.</p>
  <h5>VII. Your personal information protection</h5>
  <p>To protect the security of your information, we strive to take all kinds of reasonable measures, including but not limited to SSL, encrypted
    storage, and access control in data centers, to protect your information from leakage, corruption or loss. We also strictly manage employees or
    outsourcers who may be exposed to your information, including but not limited to signing confidentiality agreements with them, taking different
    access controls depending on different positions, and monitoring their operations.</p>
  <p class="bl-mt24 bl-mb24">Your account has security features, please keep safe your account and password information. Security measures such as
    backing up to other servers and encrypting user passwords will be taken to ensure that your information is not lost, misused or altered. Despite
    the aforementioned security measures, please understand 100% security cannot be guaranteed on the Internet due to technical limits and various
    malicious acts that may exist, .</p>
  <p>Please protect your personal information properly, provide it to others only when necessary, and take responsibility for the consequences of
    this action. Content and information (such as photos) provided, uploaded, or posted when you use our services may leak your personal sensitive
    information, so please consider it before disclosing. If you find that your personal information is leaked, especially your account and
    password, please contact customer service immediately to take appropriate measures.
  </p>
  <h5>VIII. Protection of minors</h5>
  <p>We value the protection of personal information of minors. If you are a minor, we recommend that you ask your guardian to read this Privacy
    Policy carefully and, with the consent of your guardian, use our services or provide us with information.</p>

</div>
<% include ./footer.ejs %>
