<% include ./header.ejs %>
<link rel="stylesheet" href="<%- serve.staticPath %>/css/skill_en.css">
<div id="banner" class="banner-skill-place">
    <div class="main-wrap title-box">
        <i class="icon"></i>
        Production Base
    </div>
</div>
<div class="main">
    <div class="place-container main-wrap">
        <div class="section">
            <div>
                <p class="text-title">Shenzhen Branch Factory</p>
                <p class="text-msg">Area: 20,000 square meters</p>
                <p class="text-msg">The annual capacity: 1,000,000sets</p>
            </div>
            <div>
                <img src="<%- serve.staticPath %>/img/skill-place-2.png">
            </div>
        </div>
        <div class="section">
            <div>
                <p class="text-title">Guangzhou Branch Factory</p>
                <p class="text-msg">Area: 30,000 square meters</p>
                <p class="text-msg">The annual capacity: 2,000,000sets</p>
            </div>
            <div>
                <img src="<%- serve.staticPath %>/img/skill-place-3.png">
            </div>
        </div>
        <div class="section">
            <div>
                <p class="text-title">BONA Guangzhou Industrial Park(to be put into use in 2021)</p>
                <p class="text-msg">Area: 20,0000 square meters</p>
                <p class="text-msg">The annual capacity: 7,000,000sets</p>
            </div>
            <div>
                <img src="<%- serve.staticPath %>/img/skill-place-4.png">
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>