<div id="header">
  <div class="header-wrap bl-clearfix pc ">
    <a href="./index.html" class="logo"><img src="./static/images/logo.png" alt=""></a>
    <div class="language">
      <a href="javascript:;" class="current">
        <span>EN</span>
        <img src="/srcEn/static/images/language_en.png" alt="">
      </a>
      <div class="select">
        <a href="../cn/index.html">
          <span class="point"></span>CN
        </a>
      </div>
    </div>
    <ul class="nav" id="nav">
      <li @@if (context.index==='active' ) { class="active" }>
        <a href="./index.html">
          <p class="nav-title"><span>Home</span></p>
        </a>
      </li>
      <li @@if (context.about==='active' ) { class="active" }>
        <a href="./about.html" class="pd40">
          <p class="nav-title"><span>About Us</span></p>
        </a>
        <div class="select">
          <p><a @@if (context.subActive==='about' ) { class="sub-active" } href="./about.html"></i>About Bona</a></p>
          <p><a @@if (context.subActive==='about_culture' ) { class="sub-active" } href="./about_culture.html"></i>Company Culture</a></p>
          <p><a @@if (context.subActive==='about_news' ) { class="sub-active" } href="./about_news.html">News Center</a></p>
          <p><a @@if (context.subActive==='about_honor' ) { class="sub-active" } href="./about_honor.html">Honor</a></p>
        </div>
      </li>
      <li @@if (context.skill==='active' ) { class="active" }>
        <a href="./skill.html">
          <p class="nav-title"><span>Technology</span></p>
        </a>
        <div class="select">
          <p><a @@if (context.subActive==='skill' ) { class="sub-active" } href="./skill.html">R&D</a></p>
          <p><a @@if (context.subActive==='skill_quality' ) { class="sub-active" } href="./skill_quality.html">Quality</a></p>
          <p><a @@if (context.subActive==='skill_place' ) { class="sub-active" } href="./skill_place.html">Production</a></p>
        </div>
      </li>
      <li @@if (context.product==='active' ) { class="active" }>
        <a href="./product.html">
          <p class="nav-title"><span>Products</span></p>
        </a>
        <div class="select themeW">
          <div class="product-nav">
            <div class="main-wrap">
              <a href="javascript:;" class="active" data-index="0">Robot Vacuum Cleaner</a>
              <a href="javascript:;" data-index="1">Window Cleaning Robot</a>
            </div>
          </div>
          <div class="product-tab">
            <div class="main-wrap bl-clearfix">

            </div>

          </div>
        </div>
      </li>
      <li @@if (context.contact==='active' ) { class="active" }>
        <a href="./contact.html" class="pd55">
          <p class="nav-title"><span>Contact Us</span></p>
        </a>
        <div class="select">
          <p><a @@if (context.subActive==='contact' ) { class="sub-active" } href="./contact.html">Join Bona</a></p>
          <p><a @@if (context.subActive==='contact_business' ) { class="sub-active" } href="./contact_business.html">Business Cooperation</a></p>
          <p><a @@if (context.subActive==='contact_experience' ) { class="sub-active" } href="./contact_experience.html">Global Field Test Users</a>
          </p>
        </div>
      </li>
      <!--<li><a href="./contact.html"><p class="nav-title"><span>Brand</span></p></a></li>-->
    </ul>
  </div>
  <div class="header-wrap bl-clearfix mobile">
    <div class="top bl-clearfix">
      <a href="./index.html" class="logo bl-fl"><img src="./static/images/logo.png" alt="robotbona"></a>
      <a href="javascript:;" class="bl-fr menu-btn"></a>
    </div>
    <nav class="menu-nav">
      <ul class="nav-wrap">
        <li class="menu-nav-item">
          <a href="./index.html" class="menu-nav-wrap">
            <div class="border-nav">
              <span class="menu-nav-name">Home</span>
            </div>
          </a>
        </li>
        <li class="menu-nav-item">
          <div class="menu-nav-wrap">
            <div class="border-nav">
              <span class="menu-nav-name">About Us</span>
              <span class="menu-nav-icon"></span>
            </div>
          </div>
          <div class="menu-sub-wrap">
            <a class="menu-sub-item" href="./about.html">About Bona</a>
            <a class="menu-sub-item" href="./about_culture.html">Company Culture</a>
            <a class="menu-sub-item" href="about_news.html">News Center</a>
            <a class="menu-sub-item" href="about_honor.html">Honor</a>
          </div>
        </li>
        <li class="menu-nav-item">
          <div class="menu-nav-wrap">
            <div class="border-nav">
              <span class="menu-nav-name">Technology</span>
              <span class="menu-nav-icon"></span>
            </div>
          </div>
          <div class="menu-sub-wrap">
            <a class="menu-sub-item" href="./skill.html">R&D</a>
            <a class="menu-sub-item" href="./skill_quality.html">Quality</a>
            <a class="menu-sub-item" href="./skill_place.html">Production</a>
          </div>
        </li>
        <li class="menu-nav-item">
          <div class="menu-nav-wrap">
            <div class="border-nav">
              <span class="menu-nav-name">Products</span>
              <span class="menu-nav-icon"></span>
            </div>
          </div>
          <div class="menu-sub-wrap">
            <!--<a class="menu-sub-item" href="/product?id=8">8系列</a>
            <a class="menu-sub-item" href="/product?id=7">7系列</a>
            <a class="menu-sub-item" href="/product?id=6">6系列</a>
            <a class="menu-sub-item" href="/product?id=5">5系列</a>
            <a class="menu-sub-item" href="/product?id=1">1系列</a>
            <a class="menu-sub-item" href="/product?id=k">k系列</a>-->
            <a class="menu-sub-item" href="./product.html?product=0">Robot Vacuum Cleaner</a>
            <a class="menu-sub-item" href="./product.html?product=1">Window Cleaning Robot</a>
          </div>
        </li>
        <li class="menu-nav-item">
          <div class="menu-nav-wrap">
            <div class="border-nav">
              <span class="menu-nav-name">Contact Us</span>
              <span class="menu-nav-icon"></span>
            </div>
          </div>
          <div class="menu-sub-wrap">
            <a class="menu-sub-item" href="./contact.html">Join Bona</a>
            <a class="menu-sub-item" href="./contact_business.html">Business Cooperation</a>
            <a class="menu-sub-item" href="./contact_experience.html">Global Field Test Users</a>
          </div>
        </li>
        <li class="menu-nav-item">
          <div class="menu-nav-wrap">
            <div class="border-nav">
              <span class="menu-nav-name">EN</span>
              <span class="menu-nav-icon"></span>
            </div>
          </div>
          <div class="menu-sub-wrap">
            <a class="menu-sub-item" href="../cn/index.html">CN</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<script>
    var mobileUrl = "http://m.robotbona.com/en/index";
    var ua = navigator.userAgent;
    var ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
      isIphone =!ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
      isAndroid = ua.match(/(Android)\s+([\d.]+)/),
      isMobile = isIphone || isAndroid;
    //判断
    if(isMobile){
      window.location.href = mobileUrl;
    }
</script>
