<div class="index-nav">
  <div class="main-wrap">
    <ul>
      <li><a href="./about.html" @@if (context.about==='active' ) { class="active" }>About Bona</a></li>
      <li><a href="./about_culture.html" @@if (context.culture==='active' ) { class="active" }>Company Culture</a></li>
      <li><a href="./about_news.html" @@if (context.news==='active' ) { class="active" }>News Center</a></li>
      <li><a href="./about_honor.html" @@if (context.honor==='active' ) { class="active" }>Honor</a></li>
    </ul>
  </div>

</div>